* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    overflow: hidden;
    user-select: none;
}

*:focus {
    outline: none;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(.././styles/img/RedPage/background_canap_rouge.jpg);
    font-family: 'Work Sans', sans-serif;
    margin: .5em;
}

/* BACKGROUND CHANGE */

.bagroundRedPage {
    background-image: url(./../styles/img/RedPage/background_canap_rouge.jpg)
}

.backgroundBluePage {
    background-image: url(./styles/img/BluePage/background_canap_bleu.jpg);
}

.backgroundYellowPage {
    background-image: url(../styles/img/YellowPage/background_canap_jaune.jpg);
}

/*  */

/* BUTTON CONVERT */

#header {
    display: flex;
    justify-content: space-between;
    min-height: 25px;
    height: 4vh;
}

#burgerMenuContainer {
    margin: .5em;
    margin-right: 1em;
    height: 3em;
}

.burgerMenuIcon:hover {
    cursor: pointer;
}

#mainContainer {
    display: grid;
    grid-template-columns: 30% 30% 10% 15%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 95vh;
}

#brandDescriptionContainer {
    text-align: justify;
    grid-column: 1/2;
    grid-row: 3/6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#brandDescription,
#oldPrice {
    color: white;
    font-size: 1.4em;
    margin-bottom: 1.3em;
}

#priceDisplay {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#oldPrice {
    text-decoration: line-through;
    font-weight: 800;
}

#newPrice {
    color: white;
    font-size: 2.5em;
    font-weight: 700;
}

#inputContainer,
#couchPictureContainer,
#priceContainer {
    grid-column: 2/3;
}

#inputConvertContainer {
    display: flex;
    justify-content: space-between;
}

#inputContainer {
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#couchPictureContainer {
    grid-row: 3/6;
    position: relative;
    z-index: 1;
    margin-left: -10vw;
}

#couchPicture {
    width: inherit;
    position: absolute;
    height: 100%;
}

#priceContainer {
    grid-row: 6/7;
    display: flex;
    justify-content: center;
}

#furnitureContainer {
    grid-column: 3/4;
    grid-row: 1/6;
    z-index: 0;
    display: flex;
    justify-content: flex-start;
}

#furniturePicture {
    padding-right: 50vw;
    margin-right: 50vw;
}

#logoDescription {
    height: 2em;
    width: 3em;
}

/* BUTTONS */

.btn:hover {
    cursor: pointer;
}

.inputColor {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 10px;
}

.boxShadow {
    box-shadow: 2px 2px 2px gray;
}

.buttonToHide {
    background: none;
    border: none;
}

#buyButton:hover {
    cursor: pointer;
}

.btnCouch {
    content: url("./styles/img/btn-couch/couch.svg");
    height: auto;
    width: auto;
}

.btnBed {
    content: url("./styles/img/btn-couch/bed.svg")
}

.btnCouchSelected {
    content: url("./styles/img/btn-couch/couch-selected.svg")
}

.btnBedSelected {
    content: url("./styles/img/btn-couch/bed-selected.svg")
}

/* COLOR */

.couchToTheRight {
    transform: translateX(-1300px);
    transition: all 1.5s ease-in-out;
}

.couchToTheLeft {
    transition: all 1.5s ease-in-out;
}